.square {
  background-color: turquoise;
  border: 1px solid black;
  padding: 4px;
  margin: 3px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.row {
  background-color: bisque;
  border: 1px dotted black;
}