#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.column {
  display: inline-block;
  width: 100px;
  height: 594px;
  border: 1px solid #000;
  vertical-align: top;
  background-color: rgb(74, 74, 228);
}
.column.highlighted {
  background-color: rgb(141, 141, 241);
}

.slot {
  width: 95px;
  height: 95px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  margin: 2px;
  box-sizing: border-box;
}

.slot.player-1 {
  background-color: rgb(243, 240, 63);
}

.slot.player-2 {
  background-color: rgb(206, 20, 20);
}
